<ion-content  ng-controller="v13Ctrl" style="position:absolute;">

	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		<ion-slide>
			<div ca-contentcontainer  id="content_container" style="">
				<img ca-visual id="visual" ca-resize src="./img/Visual-13.jpg" />
				<button ca-homebtn id="homeBtn" class="btn homeBtn" ng-click="changePage('/v14','switch')" ></button>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content_container" style="">
				<img ca-visual id="visual" ca-resize src="./img/Visual-14.jpg"  />
				<button ca-homebtn id="homeBtn" class="btn homeBtn" ng-click="changePage('/v14','switch')" ></button>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content_container" style="">
				<img ca-visual id="visual" ca-resize src="./img/Visual-15.jpg"  />
				<button ca-homebtn id="homeBtn" class="btn homeBtn" ng-click="changePage('/v16','switch')" ></button>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content_container" style="">
				<img ca-visual id="visual" ca-resize src="./img/Visual-17.jpg"  />
				<button ca-homebtn id="homeBtn" class="btn homeBtn" ng-click="changePage('/v18','switch')" ></button>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content_container" style="">
				<img ca-visual id="visual" ca-resize src="./img/Visual-19.jpg"  />
				<button ca-homebtn id="homeBtn" class="btn homeBtn" ng-click="changePage('/v14','switch')" ></button>
			</div>
		</ion-slide>
	</ion-slide-box>

</ion-content>

