
<ion-content ng-cloak  ng-controller="v13Ctrl" style="position:absolute;" scroll="false">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeSlide">
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/Visual-13{{imageSuffix}}.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
					<button ca-btn1 ca-button id="btn1" class="btn" ng-click="goSlide(1)" style="width:134px;height:366px;left:1854px;top:210px;"></button>
					<button ca-btn2 ca-button id="btn2" class="btn" ng-click="goSlide(2)"  style="width:134px;height:366px;left:1854px;top:572px;"></button>
					<button ca-btn3 ca-button id="btn3" class="btn" ng-click="goSlide(3)"  style="width:134px;height:366px;left:1854px;top:946px;"></button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" scroll="false">
				<img ca-visual id="visual"  src="./img/Visual-14{{imageSuffix}}.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
					<button ca-returnbtn ca-button id="returnbtn" class="btn return-btn" ng-click="goSlide(0)" style="width:120px;height:120px;top:1326px;left:220px;"></button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" scroll="false">
				<img ca-visual id="visual"  src="./img/Visual-15{{imageSuffix}}.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 ca-button id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-16-popup')" style="width:190px;height:190px;left:1762px;top:606px;"></button>
					<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
					<button ca-returnbtn ca-button id="returnbtn" class="btn return-btn" ng-click="goSlide(0)" style="width:120px;height:120px;top:1326px;left:220px;"></button>
				</div>
			</div>iv>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" scroll="false">
				<img ca-visual id="visual"  src="./img/Visual-17{{imageSuffix}}.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 ca-button id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-18-popup')" style="width:190px;height:190px;left:1762px;top:526px;"></button>
					<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
					<button ca-returnbtn ca-button id="returnbtn" class="btn return-btn" ng-click="goSlide(0)" style="width:120px;height:120px;top:1326px;left:220px;"></button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div  style="position:absolute;">
				<div ca-contentcontainer  id="content-container" style="" scroll="false">
					<img ca-visual id="visual"  src="./img/Visual-19{{imageSuffix}}.jpg" />
					<div id="btn-container" ca-btncontainer>
						<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
					</div>
				</div>
		</ion-slide>
	</ion-slide-box>
</ion-content>

