<ion-content  style="position:absolute;">
	<div ca-contentcontainer  id="content-container" style="" >
		<img ca-visual id="visual"  src="./img/visual-18-popup.jpg" />
		<div id="btn-container" ca-btncontainer>
			<button ca-closebtn id="closebtn" class="btn close-btn"  ng-click="switchPage('/visual-13',3)" >close</button>
			<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
			<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-13')" ><return/button>
		</div>
	</div>
</ion-content>