<ion-content ng-cloak  style="position:absolute;" scroll="false">
	<div ca-contentcontainer  id="content-container" style="" >
		<img ca-visual id="visual"  src="./img/Visual-11{{imageSuffix}}.jpg" />
		<div id="btn-container" ca-btncontainer>
			<button ca-btn1 ca-button id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-10-popup')" style="width:177px;height:93px;left:1620px;top:600px;"></button>
			<button ca-btn2 ca-button id="btn2" class="btn menu-btn" ng-click="" style="width:420px;height:128px;left:406px;top:796px;"></button>
			<button ca-btn3 ca-button id="btn3" class="btn menu-btn" ng-click="switchPage('/visual-12')" style="width:420px;height:128px;left:1212px;top:796px;"></button>
			<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
		</div>
	</div>
</ion-content>