<ion-content  style="position:absolute;" class="white" scroll="false">
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/Visual-1{{imageSuffix}}.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 ca-button id="btn1" class="btn" ng-click="switchPage('/visual-2')" style="width:1250px;height:128px;left:116px;top:936px;"></button>
					<button ca-btn2 ca-button id="btn2" class="btn" ng-click="switchPage('/visual-9')"  style="width:1100px;height:128px;left:116px;top:1062px;"></button>
					<button ca-btn3 ca-button id="btn3" class="btn" ng-click="switchPage('/visual-13')"  style="width:750px;height:128px;left:116px;top:1188px;"></button>
				</div>
			</div>
</ion-content>

