<ion-content  style="position:absolute;">
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-2.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 ca-button id="btn1" class="btn" ng-click="switchPage('/visual-3-popup1')"  style="width:830px;height:140px;left:610px;top:700px;"></button>
					<button ca-btn2 ca-button id="btn2" class="btn" ng-click="switchPage('/visual-4-popup2')"  style="width:830px;height:140px;left:610px;top:934px;"></button>
					<button ca-btn3  ca-button id="btn3" class="btn" ng-click="switchPage('/visual-5')" style="width:1026px;height:176px;left:512px;top:1178px;" ></button>
					<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1328px;"></button>
				</div>
			</div>
</ion-content>

