<ion-content  style="position:absolute;">
	<div ca-contentcontainer  id="content-container" style="" >
		<img ca-visual id="visual"  src="./img/visual-5.jpg" />
		<div id="btn-container" ca-btncontainer>
			<button ca-btn1 id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-6-popup')" >btn1</button>
			<button ca-btn2 id="btn2" class="btn menu-btn" ng-click="switchPage('/visual-7')" >btn2</button>
			<button ca-btn3 id="btn3" class="btn menu-btn" ng-click="switchPage('/visual-8')" >btn3</button>
			<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
			<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-2')" >return</button>
		</div>
	</div>
</ion-content>

