<ion-content ng-cloak  style="position:absolute;" scroll="false">
	<div ca-contentcontainer  id="content-container" style="" >
		<img ca-visual id="visual"  ng-src="./img/Visual-7c-popup{{imageSuffix}}.jpg" />
		<div id="btn-container" ca-btncontainer>
				<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1332px;"></button>
			<button ca-returnbtn ca-button id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-5')" style="width:180px;height:120px;top:1348px;left:220px;"></button>
			<button ca-btn3 ca-button id="btn3" class="btn" ng-click="switchPage('/visual-19')"  style="width:316px;height:119px;left:1634px;top:1342px;"></button>
			<button ca-closebtn ca-button id="closebtn" class="btn close-btn"  ng-click="switchPage('/visual-7')" style="width:120px;height:120px;top:654px;left:1850px;"></button>

		</div>
	</div>
</ion-content>