<ion-content  style="position:absolute;">
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-2.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-3-popup1')" ></button>
					<button ca-btn2 id="btn2" class="btn menu-btn" ng-click="switchPage('/visual-4-popup2')" ></button>
					<button ca-btn3 id="btn3" class="btn menu-btn" ng-click="switchPage('/visual-5')" ></button>
					<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" ></button>
				</div>
			</div>
</ion-content>

