
<ion-content  style="position:absolute;">

	<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="{{activeSlide}}">
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-13.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >{{activeSlide}}</button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-14.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
					<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-13',0)" >return</button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-15.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-16-popup')" >popup</button>
					<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
					<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-13',0)" >return</button>
				</div>
			</div>iv>
			</div>
		</ion-slide>
		<ion-slide>
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/visual-17.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-18-popup')" ></button>
					<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
					<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-13',0)" >return</button>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div  style="position:absolute;">
				<div ca-contentcontainer  id="content-container" style="" >
					<img ca-visual id="visual"  src="./img/visual-19.jpg" />
					<div id="btn-container" ca-btncontainer>
						<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" >home</button>
					</div>
				</div>
		</ion-slide>
	</ion-slide-box>

</ion-content>

