<ion-content  style="position:absolute;">
			<div ca-contentcontainer  id="content-container" style="" >
				<img ca-visual id="visual"  src="./img/Visual-1.jpg" />
				<div id="btn-container" ca-btncontainer>
					<button ca-btn1 id="btn1" class="btn home-btn" ng-click="switchPage('/visual-2')" >btn1</button>
					<button ca-btn2 id="btn2" class="btn home-btn" ng-click="switchPage('/visual-9')" >btn2</button>
					<button ca-btn3 id="btn3" class="btn home-btn" ng-click="switchPage('/visual-13')" >btn3</button>
				</div>
			</div>
</ion-content>

