<ion-content  style="position:absolute;">
	<div ca-contentcontainer  id="content_container" style="" >
		<img ca-visual id="visual" ca-resize src="./img/Visual-14.jpg"  />
		<button ca-btn1 id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-18-popup')" ></button>
		<button ca-homebtn id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" ></button>
		<button ca-returnbtn id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-13')" ></button>
	</div>

</ion-content>