<ion-content ng-cloak  style="position:absolute;" scroll="false">
	<div ca-contentcontainer  id="content-container" style="" >
		<img ca-visual id="visual"  ng-src="./img/Visual-5{{imageSuffix}}.jpg" />
		<div id="btn-container" ca-btncontainer>
			<button ca-btn1 ca-button id="btn1" class="btn menu-btn" ng-click="switchPage('/visual-6-popup')" style="width:562px;height:136px;left:514px;top:582px;"></button>
			<button ca-btn2 ca-button id="btn2" class="btn menu-btn" ng-click="switchPage('/visual-7')" style="width:562px;height:136px;left:220px;top:750px;"></button>
			<button ca-btn3 ca-button id="btn3" class="btn menu-btn" ng-click="switchPage('/visual-8')" style="width:562px;height:136px;left:812px;top:750px;"></button>
	<button ca-homebtn ca-button id="homebtn" class="btn home-btn" ng-click="switchPage('/visual-1')" style="width:120px;height:120px;left:96px;top:1332px;"></button>
			<button ca-returnbtn ca-button id="returnbtn" class="btn return-btn" ng-click="switchPage('/visual-2')" style="width:180px;height:120px;top:1348px;left:220px;"></button>
			<button ca-btn3 ca-button id="btn3" class="btn" ng-click="switchPage('/visual-19')"  style="width:316px;height:119px;left:1634px;top:1342px;"></button>
		</div>
	</div>
</ion-content>

